<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styleStart.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="headerBg">
        <h1><span id="sig">Herbert </span>- The HRBot</h1>
    </div>
    <div id="header2">
        <h3>Hoping to help!</h3>
    </div>
      <container id="container">
    <div style="display:flex; justify-content: center;">
    <form action="/login" method="POST">
      <table>
        <tr>
          <td><p>Hi! Please enter your name:</p></td>
        </tr>
        <tr>
          <td><input type="text" name="username" placeholder="Name" value="{{request.form.username}}"></td>
        </tr>
        <tr>
          <td><p>And your Job Function:</p></td>
        </tr>
        <tr>
          <td>
            <select name="jobFunction">
              {% for o in data %}
              <option value="{{ o.function }}">{{ o.function }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr></tr>
        <tr align="center">
          <td><input type="submit" value="Submit"></td>    
        </tr>
      </table>
    </form>
    </div>
    </container>
  </body>
</html>